{% extends 'dashboardbase.html' %}
{% load static %}
{% block body %}

    <!-- Right Panel -->

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Total Advices </h1>

                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="content mt-3">
            <div class="container">
                {% if mainuser.typ == "teacher" %}
                <div class="row">
                    <div class="col-md-3 col-sm-3">USER</div>
                    <div class="col-md-3 col-sm-3">TIME</div>
                    <div class="col-md-4 col-sm-4">INFO</div>
                    <div class="col-md-1 col-sm-1">STATUS</div>
                    <div class="col-md-1 col-sm-1">OPERATE</div>
                </div>
                {% for adv in Advice %}
                <div class="row">
                    <div class="col-md-3 col-sm-3">{{adv.classroomi.stpar}}</div>
                    <div class="col-md-3 col-sm-3">{{adv.day}} , {{adv.time}}</div>
                    <div class="col-md-4 col-sm-4">{{adv.desc}}</div>
                    <div class="col-md-1 col-sm-1">{{adv.status}}</div>
                    <div class="col-md-1 col-sm-1"><button class="btn btn-warning">Edit</button></div>
                </div>
                {% endfor %}
                {% else %}
                <div class="row">
                    <div class="col-md-3 col-sm-3">USER</div>
                    <div class="col-md-3 col-sm-3">TIME</div>
                    <div class="col-md-6 col-sm-6">INFO</div>
                </div>
                {% for adv in Advice %}
                <div class="row">
                    <div class="col-md-3 col-sm-3">{{adv.classroomi.teacher}}</div>
                    <div class="col-md-3 col-sm-3">{{adv.day}} , {{adv.time}}</div>
                    <div class="col-md-6 col-sm-6">{{adv.desc}}</div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
            


        </div> <!-- .content -->
    <!-- Right Panel -->

{% endblock %}
