{% extends 'dashboardbase.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/Dashboard/advices.css'%}">
<script src="{% static 'vendors/jquery/dist/jquery.min.js'%}"></script>

{% endblock %}
{% block body %}

    <!-- Right Panel -->

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Total Advices </h1>

                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="content mt-3">
            <div class="container">
                <div class="list">
                    {% if mainuser.typ == "teacher" %}
                    <div class="row title-row">
                        <div class="col-md-3 col-3">USER</div>
                        <div class="col-md-3 col-3
                        ">TIME</div>
                        <div class="col-md-3 col-3">INFO</div>
                        <div class="col-md-3 col-3">STATUS</div>
                    </div>
                    {% for adv in Advice %}
                    <div class="row">
                        <div class="col-md-3 col-3"><p class="datas">{{adv.classroomi.stpar}}</p></div>
                        <div class="col-md-3 col-3"><p class="datas">{{adv.day}} , {{adv.time}}</p></div>
                        <div class="col-md-3 col-3"><p class="datas">{{adv.desc}}</p></div>
                        {% if adv.status == 1 %}
                        <div class="col-md-3 col-3"><p class="datas2" style="background-color:#1a8644;color: white;border-radius: 5px;"id="acc-{{adv.pk}}">Accept</p><p class="datas2" style="background-color:#e74c3c;color: white;border-radius: 5px;" id="dec-{{adv.pk}}">Declines</p></div>
                        {% elif adv.status == 2 %}
                        <div class="col-md-3 col-3"><p class="datas" style="background-color:#c4c4c4;color: white;border-radius: 5px;">Done</p></div>
                        {% elif adv.status == 0 %}
                        <div class="col-md-3 col-3"><p class="datas" style="background-color:#fbb853;color: white;border-radius: 5px;">Active</p></div>
                        {% elif adv.status == 3 %}
                        <div class="col-md-3 col-3"><p class="datas" style="background-color:#c4c4c4;color: white;border-radius: 5px;">Declined</p></div>
                        {% endif %}
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="row title-row">
                        <div class="col-md-3 col-3">USER</div>
                        <div class="col-md-3 col-3">TIME</div>
                        <div class="col-md-3 col-3">INFO</div>
                        <div class="col-md-3 col-3">STATUS</div>
                    </div>
                    {% for adv in Advice %}
                    <div class="row">
                        <div class="col-md-3 col-3"><p class="datas">{{adv.classroomi.teacher}}</p></div>
                        <div class="col-md-3 col-3"><p class="datas">{{adv.day}} , {{adv.time}}</p></div>
                        <div class="col-md-3 col-3"><p class="datas">{{adv.desc}}</p></div>
                        {% if adv.status == 1 %}
                        <div class="col-md-3 col-3"><p class="datas" style="background-color:#e74c3c;color: white;border-radius: 5px;">Request sent</p></div>
                        {% elif adv.status == 2 %}
                        <div class="col-md-3 col-3"><p class="datas" style="background-color:#c4c4c4;color: white;border-radius: 5px;">Done</p></div>
                        {% elif adv.status == 0 %}
                        <div class="col-md-3 col-3"><p class="datas" style="background-color:#fbb853;color: white;border-radius: 5px;">Active</p></div>
                        {% elif adv.status == 3 %}
                        <div class="col-md-3 col-3"><p class="datas" style="background-color:#c4c4c4;color: white;border-radius: 5px;">Declined</p></div>
                        {% endif %}
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            


        </div> <!-- .content -->
    <!-- Right Panel -->

        <script type="text/javascript">
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    $(document).ready(function(){
        
      $("p").click(function(event){
        var bod = {}
        var ids = event.target.id
        if (ids.indexOf('acc')!=-1){
            ids = parseInt(ids.substring(4))
            bod = {'msg':'acc','pk':ids};
        }
        else if (ids.indexOf('dec')!=-1){
            ids = parseInt(ids.substring(4))
            bod = {'msg':'dec','pk':ids};
        }
        var csrftoken = getCookie('csrftoken');
            var request = new Request(
                "/dashboard/advices/", {
                    headers: {
                        'X-CSRFToken': csrftoken
                    }
                }
            );
            fetch(request, {
                    method: 'POST',
                    mode: 'same-origin',
                    body: JSON.stringify(bod), // Do not send CSRF token to another domain.
                }).then((response) => {
                    return response.json();
                })
                .then((data) => {
                    if (data.msg=='done') {
                        location.reload();
                    }
                });
      });
      
    });
</script>
{% endblock %}
