.container{
	text-align: center;
	margin-left: 0 !important;
	padding-left: 0 !important;

}
.form-control{
	border: none!important;
	text-align: center!important;
	width: 100% !important;
	margin: 5px 0;
}